<app-header></app-header>

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="fas fa-person-booth"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Maid</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <a [routerLink]="['/admin-addmaid']" routerLinkActive="router-link-active"
                                    data-toggle="tooltip" data-placement="left" title="Add Maid" class="btn"><i
                                        class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" [formGroup]="myForm" (ngSubmit)="submit()">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-username">First Name <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" formControlName="fname" class="form-control"
                                            id="val-username" name="val-username" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-username">Last Name <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" formControlName="lname" class="form-control"
                                            id="val-username" name="val-username" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-email">Email <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" formControlName="email" class="form-control" id="val-email"
                                            name="val-email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-password">Password <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="password" formControlName="password" class="form-control"
                                            id="val-password" name="val-password" placeholder="Password">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label with-gap" for="val-suggestions">Gender <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="radio-inline mr-5">
                                                <input type="radio" formControlName="gender" value="male"
                                                    name="optradio"> Male
                                            </label>
                                            <label class="radio-inline mr-5">
                                                <input type="radio" formControlName="gender" value="female"
                                                    name="optradio">
                                                Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-password">Date of Birth <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="date" formControlName="dob" class="form-control" id="val-password"
                                            name="val-password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-password">Phone No. 1 <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" formControlName="phoneno1" class="form-control"
                                            id="val-password" name="val-password" placeholder="Phone No. 1">
                                    </div>
                                </div>  <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-password">Phone No. 2 
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" formControlName="phoneno2" class="form-control"
                                            id="val-password" name="val-password" placeholder="Phone No. 2">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-password">Experience <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" formControlName="experience" class="form-control"
                                            id="val-password" name="val-password" placeholder="Experience">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-skill">Area Name <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" formControlName="pincode" id="val-skill"
                                            name="val-skill">
                                            <option value="" disabled>Please select Area</option>
                                            <option *ngFor="let l of listPincode" value="{{l.pincode}}">
                                                {{l.location_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-currency">Profile <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="file" formControlName="profile" class="form-control"
                                            id="val-currency" name="val-currency">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-website">Aadhar Card <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="file" formControlName="aadhar_card" class="form-control"
                                            id="val-website" name="val-website">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-skill">Status <span
                                            class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control" formControlName="status_id" id="val-skill"
                                            name="val-skill">
                                            <option value="" disabled>Please select Status</option>
                                            <option *ngFor="let l of listStatus" value="{{l.status_id}}">
                                                {{l.status_name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>