<div class="login-content">
    <div class="nk-block toggled" id="l-login">
        <div class="nk-form">
            <form [formGroup]="myForm" (ngSubmit)="submit()">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-user"></i></span>
                    <div class="nk-int-st">
                        <input type="text" formControlName="fname" class="form-control" placeholder="First Name">
                    </div>
                </div>
                <div class="input-group" style="margin-top: 13px;">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-user"></i></span>
                    <div class="nk-int-st">
                        <input type="text" formControlName="lname" class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <div class="input-group" style="margin-top: 13px;">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fa fa-envelope"></i></span>
                    <div class="nk-int-st">
                        <input type="email" formControlName="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="input-group mg-t-15" style="margin-top: 13px;">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-key"></i></span>
                    <div class="nk-int-st">
                        <input type="password" formControlName="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="input-group" style="margin-top: 13px;">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-venus-mars"></i></span>
                    <div class="nk-int-st">
                        <div class="col-sm-3 mt-2">
                            <input type="radio" formControlName="gender" name="gender" value="male"> Male
                        </div>
                        <div class="col-sm-3 mt-2">
                            <input type="radio" formControlName="gender" name="gender" value="female"> Female

                        </div>
                    </div>
                </div>
                <div class="input-group" style="margin-top: 13px;">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-calendar"></i></span>
                    <div class="nk-int-st">
                        <input type="date" formControlName="dob" class="form-control">
                    </div>
                </div>
                <div class="input-group" style="margin-top: 13px;">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-quidditch"></i></span>
                    <div class="nk-int-st">
                        <input type="text" formControlName="experience" class="form-control" placeholder="Experience">
                    </div>
                </div>
                <div class="input-group" style="margin-top: 13px;">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-map-marker-alt"></i></span>
                    <div class="nk-int-st">
                        <select class="form-control" formControlName="pincode" id="val-skill" name="val-skill">
                            <option value="" disabled>Please select Area</option>
                            <option *ngFor="let l of listPincode" value="{{l.pincode}}">
                                {{l.location_name}}</option>
                        </select>
                        <!-- <input type="text" formControlName="pincode" class="form-control"
                                placeholder="Pincode"> -->
                    </div>
                </div>
                <div class="input-group" style="margin-top: 13px;">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-phone"></i></span>
                    <div class="nk-int-st">
                        <input type="tel" formControlName="phoneno1" class="form-control" placeholder="Phone Number">
                    </div>
                </div>
                <div class="input-group" style="margin-top: 20px;">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-image"></i></span>
                    <div class="nk-int-st">
                        <input type="file" (change)="handleFileInput($any($event).target.files)" class="form-control">
                    </div>
                </div>
                <div class="input-group" style="margin-top: 20px;">
                    <span class="input-group-addon nk-ic-st-pro"><i class="fas fa-id-card"></i></span>
                    <div class="nk-int-st">
                        <input type="file" (change)="handleFileInput($any($event).target.files)" class="form-control">
                    </div>
                </div>
                <button type="submit" data-ma-action="nk-login-switch" data-ma-block="#l-register"
                    class="btn btn-login btn-success btn-float"><i class="fas fa-sign-in-alt">
                    </i>
                </button>
            </form>
        </div>
        <div class="nk-navigation nk-lg-ic">
            <a [routerLink]="['/maid-login']" data-ma-action="nk-login-switch" data-ma-block="#l-register"><i
                    class="fas fa-lock" style="margin-right: 3px;"></i>
                <span>Sign In</span></a>
            <!-- <a [routerLink]="['/client-forgotpassword']" routerLinkActive="router-link-active"
                data-ma-action="nk-login-switch" data-ma-block="#l-forget-password"><i class="fas fa-question"></i>
                <span>Forgot Password</span></a> -->
        </div>
    </div>

</div>