<app-navbar></app-navbar>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

<div class="container">
  <div id="wrapper" style="margin-top: 120px;">
    <header>
      <h2 class="text-center">Book your Maid</h2>

    </header>
    <h2 class="h-bold d-flex justify-content-center">
      <hr style="width: 8%; height: 2px; margin-top: -3px; text-align: center; color:black; background-color: black;">
    </h2>
  </div>
  <form class="main-section" style="margin-top: 40px;" [formGroup]="myForm" (ngSubmit)="submit()" id="needs-validation" novalidate>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-12">
        <div class="form-group">
          <label class="text-inverse" for="select-menu">Select Category</label>
          <select formControlName="category_id" class="custom-select d-block form-control" id="image" required>
            <option value="">Select Category</option>
            <option *ngFor="let l of listCat" value="{{l.category_id}}">{{l.category_name}}</option>

          </select>
          <div class="invalid-feedback">
            Please selected any option.
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 col-12">
        <div class="form-group">
          <label class="text-inverse" for="select-menu">Select Your Address</label>
          <select formControlName="address_id" class="custom-select d-block form-control" id="image" required>
            <option value="">Select your Address</option>
            <option *ngFor="let l of listAdd" value="{{l.address_id}}">{{l.door_no}} {{l.street_name}} </option>

          </select>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-12">
        <div class="form-group">
          <label class="text-inverse" for="validationCustom01"> Start Date</label>
          <input type="date" formControlName="start_date" class="form-control" id="validationCustom01" required>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 col-12">
        <div class="form-group">
          <label class="text-inverse" for="validationCustom02"> End Date</label>
          <input type="date" formControlName="end_date" class="form-control" id="validationCustom02" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-12">
        <div class="form-group">
          <label class="text-inverse" for="validationCustom01">Preferable start time </label>
          <input type="time" formControlName="prefer_start_time" class="form-control" id="validationCustom01" required>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 col-12">
        <div class="form-group">
          <label class="text-inverse" for="validationCustom02"> Preferable end time</label>
          <input type="time" formControlName="prefer_end_time" class="form-control" id="validationCustom02" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <div class="form-group">
          <label class="text-inverse" for="inputEmail4">House size</label>
          <input type="text" formControlName="house_size" class="form-control" id="inputEmail4" placeholder="House size"
            required>

        </div>
      </div>
      <div class="col-lg-6 col-sm-6 col-12">
        <div class="form-group">
          <label class="text-inverse" for="inputpassword">Comments</label>
          <textarea type="text" placeholder="Comments" formControlName="comments" class="form-control"
            id="inputpassword" required>
          </textarea>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-12 text-center">
        <div class="col-sm-12">
          <button class="btn float-right standard-btn" type="submit">Book</button>
          <!-- <a class="btn btn-info float-right" style="background-color: #007BCC; color: white;">Update</a> -->

        </div>
      </div>
    </div>
  </form>
</div>

<!-- 
<div class="container">
  
  <div class="row" style="margin-top: 100px;">
    <div id="wrapper">
      <header>
        <h2 class="text-center">Book your Maid</h2>
  
      </header>
      <h2 class="h-bold d-flex justify-content-center">
        <hr style="width: 40%; height: 2px; margin-top: -3px; text-align: center; color:black; background-color: black;">
      </h2>
    </div>
    <div class="offset-lg-2 col-lg-8 col-sm-8 col-8 border rounded main-section">

     
    </div>
  </div>
</div> -->